.img {
	/* width: 240px;
    */
	width: 100%;
	/* height: 60%;
   
   */
	/* border-radius: 5px; */
	/* overflow: hidden; */
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
	height: 300px;
}
.heading {
	font-weight: 700;
	font-size: 30px;
	font-family: 'Ubuntu', sans-serif;
	margin: 1rem;
	text-align: center;
}
.sociaIcon {
	height: 25px;
	width: 25px;
}
body {
	margin: 0;
	padding: 0;
}
#go__to__top {
	position: fixed;
	right: 24px;
	bottom: 50px;
}
#go__to__top a {
	background-color: black;
	border-radius: 50%;
	height: 30px;
	width: 30px;
}
.container {
	display: grid;

	width: 90%;
	grid-template-columns: 30% 30% 30%;
	/* margin-left: 2rem; */
	gap: 50px;
	/* max-height: 100vh; */
	/* margin: 10px; */
	position: initial;
	margin-top: 3rem;
	margin-bottom: 120px;

	/* overflow: hidden; */
}
.centralise {
	width: 100%;
	display: flex;
	/* min-height: 380px;
	 */
	height: 450px;
	position: relative;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	/* border: 1px solid rgb(76, 74, 74); */
	box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
	border-radius: 5px;
	/* position: relative; */
	overflow: hidden;
	object-fit: cover;

	cursor: default;
}

.name {
	font-weight: 700;
	font-size: 22px;
	font-family: 'Ubuntu', sans-serif;
	margin: 5px;
	text-align: center;
}
.year2 {
	display: flex;
	justify-content: center;
}
#third--year {
	margin-top: 3rem;
}
.vertical {
	font-weight: 400;
	font-size: 22px;
	font-family: 'Ubuntu', sans-serif;
	color: rgb(33, 150, 243);
	margin: 5px;
	text-align: center;
}

.socialLinks {
	display: flex;
	flex-direction: row;
	width: 60%;
	justify-content: space-evenly;
	align-items: center;
	margin: 2rem;

	/* justify-content: center; */
}
#year__2 {
	margin-top: 3rem;
}
#third--year {
	margin-top: 3rem;
}
.head {
	margin-top: 1rem;
}
@media (max-width: 820px) {
	.container {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		width: 100%;
		margin-top: 3rem;
	}

	.head {
		margin-top: 2rem;
	}
}

.sociaIcon {
	width: 30px;
	height: 30px;
}
