.sponsor-image {
  padding: 2%;
  margin-bottom: 2%;
}

/* Sponsor Section */
.sponsor-section {
  margin-top: 2rem;
  margin-bottom: 0rem;
}

.sponsor-sub {
  font-family: "Roboto", sans-serif;
  color: #7b1c0d;
  width: fit-content;
  margin-left: auto;
  margin-right: auto;
  margin-top: 50px;
}

.sponsor-image {
  margin-top: 1rem;
  position: relative;
  width: 95%;
  height: 90%;
  top: 50%;
  padding: 20px;
  margin-left: 10px;
  margin-right: 10px;
  left: 50%;
  transform: translate(-50%, -50%);
}

.sponsor-image2 {
  margin-top: 2rem;
  position: relative;
  /* width: 95%;
  height: 90%; */
  top: 50%;
  padding: 20px;
  left: 50%;
  transform: translate(-50%, -50%);
}

.sponsor-container {
  width: 400px;
  height: 300px;
  margin: auto;

  display: flex;
}
.sponsor-container2 {
  width: 400px;
  height: 300px;
  margin: auto;

  display: block;
}
@media (max-width: 1920px) {
  .sponsor-container {
    width: 350px;
  }
  .sponsor-image2 {
    width: 95%;
  }
}

@media (max-width: 440px) {
  .sponsor-container {
    width: 300px;
    height: 200px;
    margin: auto;
  }
  .sponsor-image2 {
    width: 100%;
    padding: 5px;
  }
  .sponsor-image {
    padding: 5px;
  }
  .sponsor-container2 {
    width: 300px;
    height: 200px;
    margin: auto;
  }
  .partners {
    padding-bottom: 0px !important;
  }
}
@media (max-width: 1280px) {
  .sponsor-container2 {
    width: 300px;
    height: 200px;
    margin-top: 50px;
    margin-bottom: 50px;
  }
}

.sponsers{
  position: relative;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fill,minmax(310px,310px));
  column-gap: 5px;
  row-gap: 40px;
  overflow: hidden;

}
.images{
  padding: 5px;
  display: flex;
  justify-content: center;
  overflow: hidden;
}

.sponsers img{
   height: auto ;
   width: 70% ;
   cursor: pointer;
   object-fit: cover;
   object-position: center;
}

.sponsers img:hover{
  transform : scale(1.04);
}

@media screen  and (max-width:900px){
  
  .sponsers-heading h1{
     
      margin: 8%;
      letter-spacing: 8px;
      font-size: 35px; 
  }
 
  .sponsers{

      margin-top: 8px;
      column-gap: 3px;
      row-gap: 25px;
      overflow: hidden;
  
  }
 
.sponsers  img{
      height: auto ;
      width: 50% ;
 }
 
}