* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body,
header,
#intro {
  height: 100%;
  scroll-behavior: smooth;
  font-family: "Montserrat", sans-serif;
}

#intro {
  background: url("./../img/img-1.jpg") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.top-nav-collapse {
  background-color: #24355c;
}

.team {
  height: auto;
}

h4 {
  text-align: center;
}
h5 {
  text-align: center;
}
.card-text {
  text-align: justify;
  min-height: 20vh;
}

#contact {
  margin-top: 0px;
}
.contact-section {
  background: #24355c;
  color: white;
}

.link {
  color: white;
  text-decoration: none;
  font-size: 1rem;
  font-weight: 600;
}
.social-icon a {
  margin: 0 10px;
}
.social-icon .fab {
  font-size: 30px;
  line-height: 60px;
  color: white;
}

.social-icon #facebook:hover {
  color: #3b5999;
  transform: scale(1.2);
  transition: all 0.1s ease-in;
}
.social-icon #instagram:hover {
  color: #e4405f;
  transform: scale(1.2);
  transition: all 0.1s ease-in;
}
.social-icon #twitter:hover {
  color: #55acee;
  transform: scale(1.2);
  transition: all 0.1s ease-in;
}
.social-icon #linkedin:hover {
  color: #0077b5;
  transform: scale(1.2);
  transition: all 0.1s ease-in;
}
.link:hover {
  color: #ff003f;
}

@media (max-width: 992px) {
  .navbar {
    background-color: #24355c;
  }
}
@media (max-width: 576px) {
  .card-cascade {
    width: 90%;
    margin: auto;
  }
}

/* Navbar Active link on scrolling */

.nav-link {
  position: relative;
}
.nav-link:hover {
  color: white !important;
}

.nav-link.active::after {
  content: "";
  position: absolute;
  left: 50%;
  bottom: 0;
  width: 80%;
  height: 2px;
  background-color: #ffffff;
}

.nav-link::after {
  content: "";
  position: absolute;
  left: 50%;
  bottom: 0;
  width: 0;
  height: 2px;
  transform: translate(-50%, 0);
  background-color: #ffffff;
  transition: all 0.2s ease;
}

.nav-link:hover::after {
  width: 80%;
}

@media (max-width: 992px) {
  .nav-link {
    position: relative;
  }
  .nav-link:hover::after {
    content: "";
    background: white;
    position: absolute;
    bottom: 0;
    left: 10%;
    height: 2px;
    width: 18%;
  }
  .nav-link.active::after {
    content: "";
    background: white;
    position: absolute;
    bottom: 0;
    left: 10%;
    height: 2px;
    width: 18%;
  }
}

/* goto-top */

.goto-top {
  position: fixed;
  right: 20px;
  bottom: 20px;
  width: 40px;
  height: 40px;
  background: #192542;
  border-radius: 50%;
  pointer-events: none;
  opacity: 0;
  z-index: 10;
}
.goto-top i {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  font-size: 20px;
  pointer-events: none;
}
.goto-top.show {
  opacity: 1;
  pointer-events: all;
  cursor: pointer;
}
.goto-top.show:hover {
  transform: scale(1.2);
  transition: all 0.2s ease;
}
